
/*-------CONTACT-------*/

.contactprofile{
    max-height: 60px;
  }
  
  .imgcontact{
  max-height: 60px;
  }
  
  .infocontact{
    font-size: 9px;
    overflow: hidden;
  }

  .msg{
    max-width: 70%;
    float: right;
  }

  .msgg{
    float: left;
    max-width: 30%;
    max-height: 400px;
  }
  .bord{
    text-align: center;
    border: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    color: black;
    font-size: 25px;
  }